body{

    
    justify-content: center;
    
    
}

.contenedor{

    width: 1366px;
    display: grid;
    grid-template-columns: 1fr;
    
}
header{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}


.edificio{

    width: 100%;
    display: grid;
    grid-column: 1/5;
    grid-row: 1/5;
    
}
nav, h1, h3, h5, .boton, .texto{

    grid-column: 1/5;
    grid-row: 1/5;
    font-family: sans-serif;
}

.menu{

    justify-self: center;
    margin: 40px;
    

}
a{
    margin: 20px;
    
   
   
}

.menu__galeria{
    color:  white;
}

.menu__productos{

    color:  white;
}

.menu__contactar{

    color:  white;
}

.menu__servicios{

    background-color: orange;
    color:  white;
    
    
}
h1{

    display: flex;
    align-items: center;
    padding: 40px;
    color:  white;
    
}

.texto{

    color:  white;
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 40px;
    
    
    
}

h5{
    padding: 20px;
    color:  white;
    grid-column: 4/5;
    
}

h3{

    color:  white;
    grid-column: 2/3;
    padding: 20px;
}
.boton{

    display: grid;
    grid-column: 1/2;
    grid-row: 4;
    color:  white;
    background-color: orange;
    margin: 60px;
}
